.card {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-xxs);
    background-color: var(--surface-1);
    border: 1px solid var(--surface-outline-1);
    border-radius: var(--radius-m);
    width: 100%;
    min-height: 600px;
    height: auto;
    transition: min-height var(--transition-2), opacity var(--transition-2);
}
.card:hover{
    cursor: pointer;
    box-shadow: 0px 18px 36px -18px rgba(0,0,0,0.1),0px 30px 45px -30px rgba(50,50,93,0.15);
}
.card:hover .read-more-icon {
    transform: translateX(2px);
    transition: var(--transition-2);
    opacity: 1;
}
.card:hover .card-footer-link{
    min-height: 56px;
    opacity: 1;
}
.card:hover .card-thumbnail-gradient{
    opacity: 0.8;
    transition: var(--transition-2);
    scale: 1.2;
}
.card-thumbnail {
    flex: 1; /* fills remaining space above footer */
    background-color: var(--surface-2);
    border-radius: var(--radius-s);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: flex 0.3s ease, transform 0.3s ease; /* smooth flex and scale */
}
.card:hover .card-thumbnail {
    flex: 0.99;
}
.card-thumbnail video, img {
    width: 100%;
    height: auto;
    z-index: 2;
}
.card-thumbnail-gradient{
    opacity: 0;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.card-footer{
    display: flex;
    flex-direction: column;
    padding: var(--spacing-l) var(--spacing-l) var(--spacing-xxs) var(--spacing-l);
}
.card-footer-label{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxs);
}
.card-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-xxs);
}
.card-footer-link{
    min-height: 0;
    opacity: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: min-height var(--transition-2), opacity var(--transition-2);
}
.card-footer-link:hover .read-more-icon{
    transform: translateX(6px);
    transition: var(--transition-2);
}
.read-more-icon{
    transform: translateX(-6px);
    opacity: 0;
    transition: all var(--transition-2);
}
/* Custom Styling */
.card-thumbnail.nimbus{
    padding: var(--spacing-xl);
}

@media (max-width: 768px) {
    .card-footer{
        display: flex;
        flex-direction: column;
        padding: var(--spacing-l) var(--spacing-xs) 0 var(--spacing-xs);
}
}