
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--surface-1);
}
.footer-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-s);
    padding: var(--spacing-xxl) 0;
}

.footer-body-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--spacing-l);
}
.footer-body-text{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxs);
}
.footer-social-profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-xxs);
    width: fit-content;
}
.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--surface-2);
}
.copyright-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: var(--spacing-s) 0;
}
