/* @import url('https://fonts.cdnfonts.com/css/satoshi'); */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
@import 'variables.css';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
}

body{
  background-color: var(--surface-0);
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
}