:root {
  /* PRIMITIVE */
  --spacing-xxs: 8px;
  --spacing-xs: 12px;
  --spacing-s: 16px;
  --spacing-m: 20px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 40px;
  --spacing-xxxl: 64px;
  --spacing-xxxxl: 120px;

  --icon-s: 24px;
  --icon-m: 32px;
  --icon-l: 40px;
  --icon-xl: 64px;
  --icon-xxl: 80px;

  --radius-xs: 2px;
  --radius-s: 4px;
  --radius-m: 6px;

  --content-padding: 2vw;

  --blue-100: #E9F2FF;
  --blue-200: #CCE0FF;
  --blue-300: #85B8FF;
  --blue-400: #579DFF;
  --blue-500: #388BFF;
  --blue-600: #1D7AFC;
  --blue-700: #0C66E4;
  --blue-800: #0055CC;
  --blue-900: #09326C;
  --blue-1000: #1C2B41;

  --red-100: #FFECEB;
  --red-200: #FFD5D2;
  --red-300: #FD9891;
  --red-400: #F87168;
  --red-500: #F15B50;
  --red-600: #E2483D;
  --red-700: #C9372C;
  --red-800: #AE2E24;
  --red-900: #5D1F1A;
  --red-1000: #42221F;

  --violet-100: #F3F0FF;
  --violet-200: #E5DBFF;
  --violet-300: #D0BFFF;
  --violet-400: #B197FC;
  --violet-500: #9775FA;
  --violet-600: #845EF7;
  --violet-700: #7950F2;
  --violet-800: #7048E8;
  --violet-900: #6741D9;
  --violet-1000: #5F3DC4;

  --neutral-0: #FFFFFF;
  --neutral-100: #F7F8F9;
  --neutral-200: #F1F2F4;
  --neutral-300: #DCDFE4;
  --neutral-400: #B3B9C4;
  --neutral-500: #8590A2;
  --neutral-600: #758195;
  --neutral-700: #626F86;
  --neutral-800: #44546F;
  --neutral-900: #2C3E5D;
  --neutral-1000: #172B4D;
  --neutral-1100: #091E42;

  --darkneutral-0: #161A1D;
  --darkneutral-100: #1D2125;
  --darkneutral-200: #22272B;
  --darkneutral-250: #282E33;
  --darkneutral-300: #2C333A;
  --darkneutral-350: #38414A;
  --darkneutral-400: #454F59;
  --darkneutral-500: #596773;
  --darkneutral-600: #738496;
  --darkneutral-700: #8C9BAB;
  --darkneutral-800: #9FADBC;
  --darkneutral-900: #B6C2CF;
  --darkneutral-1000: #C7D1DB;
  --darkneutral-1100: #DEE4EA;

  --darkneutral-alpha-100: rgba(22, 26, 29, 0.05);
  --darkneutral-alpha-200: rgba(22, 26, 29, 0.09);
  --darkneutral-alpha-300: rgba(22, 26, 29, 0.15);

  /* SEMANTIC */
  --surface-0: var(--neutral-0);
  --surface-0-hover: var(--darkneutral-alpha-100);
  --surface-1: var(--neutral-100);
  --surface-2: var(--neutral-200);
  --surface-outline-1: var(--neutral-300);
  --surface-inverted-0: var(--darkneutral-0);
  --surface-inverted-1: var(--darkneutral-400);

  --surface-translucent: rgba(255, 255, 255, 0.8);

  --text-neutral-primary: var(--darkneutral-0);
  --text-neutral-secondary: var(--darkneutral-400);
  --text-neutral-placeholder: var(--darkneutral-500);
  --text-inverted-primary: var(--darkneutral-1100);
  --text-inverted-secondary: var(--darkneutral-900);

  --accent: var(--blue-600);
  --accent-hover: var(--blue-800);

  --icon-enabled: var(--darkneutral-600);
  --icon-enabled-hover: var(--darkneutral-400);
  --icon-subtle: var(--darkneutral-700);
  --icon-accent: var(--accent);
  --icon-white: var(--neutral-0);

  --divider: var(--darkneutral-alpha-200);

  --transition-1: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  --transition-2: 300ms cubic-bezier(0.33, 1, 0.68, 1);

  --elavation-1: box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* DARK MODE */
.darkmode {
  /* SEMANTIC COLORS */
  --surface-0: var(--darkneutral-0);
  --surface-0-hover: var(--darkneutral-alpha-100);
  --surface-1: var(--darkneutral-100);
  --surface-2: var(--darkneutral-200);
  --surface-outline-1: var(--darkneutral-300);
  --surface-inverted-0: var(--darkneutral-1100);
  --surface-inverted-1: var(--darkneutral-900);

  --surface-translucent: rgba(22, 26, 29, 0.8);

  --text-neutral-primary: var(--darkneutral-1100);
  --text-neutral-secondary: var(--darkneutral-900);
  --text-neutral-placeholder: var(--darkneutral-700);
  --text-inverted-primary: var(--darkneutral-0);
  --text-inverted-secondary: var(--darkneutral-400);

  --accent: var(--blue-500);
  --accent-hover: var(--blue-800);

  --icon-enabled: var(--darkneutral-600);
  --icon-enabled-hover: var(--darkneutral-800);
  --icon-subtle: var(--darkneutral-500);
  --icon-white: var(--neutral-0);

  --darkneutral-alpha-100: rgba(255, 255, 255, 0.05);
  --darkneutral-alpha-200: rgba(255, 255, 255, 0.09);
  --darkneutral-alpha-300: rgba(255, 255, 255, 0.15);

  --divider: var(--darkneutral-alpha-200);
}

/* Text */
.text-xxs {
  font-size: 0.833rem;
  font-weight: 350;
  line-height: 1.4;
}

/* ~10pt */
.text-xs {
  font-size: 1rem;
  font-weight: 350;
  line-height: 1.4;
}

/* ~12pt */
.text-s {
  font-size: 1.125rem;
  font-weight: 350;
  line-height: 1.4;
}

/* ~14pt */
.text-m {
  font-size: 1.25rem;
  font-weight: 350;
  line-height: 1.65;
}

/* ~16pt */
.text-l {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
}

/* ~18pt */
.text-xl {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
}

/* ~24pt */
.text-xxl {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
}

/* ~32pt */
.text-xxxl {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
}

/* ~48pt */


.link-plain {
  text-decoration: none;
  color: var(--text-neutral-primary);
}

.link-plain:hover {
  opacity: 80%;
}

.link-underline {
  font-weight: 500;
  text-decoration: none;
  color: var(--accent)
}

.link-underline:hover {
  font-weight: 600;
  color: var(--accent-hover)
}

.list-plain {
  list-style: none;
}

/* Text Colors */
.text-neutral-primary {
  color: var(--text-neutral-primary);
}

.text-neutral-secondary {
  color: var(--text-neutral-secondary);
}

.text-neutral-placeholder {
  color: var(--text-neutral-placeholder);
}

.text-inverted-primary {
  color: var(--text-inverted-primary);
}

.text-inverted-secondary {
  color: var(--text-inverted-secondary);
}

.accent {
  color: var(--accent);
}

.strong {
  font-weight: 600;
}

/* Icon Colors */
.icon-enabled {
  color: var(--icon-enabled);
}

.icon-enabled:hover {
  color: var(--icon-enabled-hover);
  cursor: pointer;
}

.icon-subtle {
  color: var(--icon-subtle);
}

.icon-accent {
  color: var(--icon-accent);
}

.icon-white {
  color: var(--icon-white);
}


@media (max-width: 600px) {
  :root {
    --content-padding: 4vw;
  }
  .text-xxs {
    font-size: 0.75rem;
  }
  .text-xs {
    font-size: 0.875rem;
  }
  .text-s {
    font-size: 1rem;
  }
  .text-m {
    font-size: 1.125rem;
  }
  .text-l {
    font-size: 1.25rem;
  }
  .text-xl {
    font-size: 1.75rem;
  }
  .text-xxl {
    font-size: 2rem;
  }
  .text-xxxl {
    font-size: 2.5rem;
  }
}