.portfolio{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.hero-banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.hero-banner-label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-s);
    padding: var(--spacing-xxxl) 0;
    max-width: 60ch;
    white-space: pre-line;
}

/* Create 2 columns, and make each column take up 1 fraction of the available space. */
.projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-m);
    padding-bottom: var(--spacing-xxxl);
}

@media (max-width: 768px) {
    .hero-banner-label{
        padding: var(--spacing-xxl) 0;
    }
    .projects{
        grid-template-columns: 1fr;
    }
}

/* .hero-gradient{
  position: absolute;
  width: 80vw;
  height: 50vh;
  background: radial-gradient(
    circle,
    rgba(58, 137, 255, 0.15),
    rgba(156, 58, 255, 0.15)
  );
  filter: blur(150px);
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
} */